body{
width: 160mm;
margin: 50mm auto
}
#nav, .right, #footer
{
display: none;
}
th
{
background-color: #aaa;
}
tr
{
background-color: #ddd;

}
tr.even
{
background-color: #eee;
}
input[type='text']
{
background-color: transparent;
border: 0 none;
}
#main{
font: 12pt/14pt helvetica, arial, sans-serif;
}